﻿body {
  margin: 0;
  font-family: Arial, sans-serif;
}
/* Set padding to keep content from hitting the edges */
/* bootstrap override */
h1,
.h1,
h2,
.h2,
h3,
.h3 {
  margin: 0;
}
hr {
  margin-top: 0;
}
a {
  cursor: pointer;
}
.table-employee-detail tr td {
  padding: 5px;
}
.k-panel-title {
  color: #ffffff;
}
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
  max-width: 280px;
  width: 200px;
}
input[type='checkbox'] {
  max-width: 15px;
  width: 15px;
}
input[readonly] {
  background: #F0F0F0;
  border: solid 1px #F0F0F0;
}
.form-control {
  padding: 0 6px 0 6px;
  height: 32px;
}
label {
  font-size: 11px;
}
.panel-heading-icon {
  cursor: pointer;
  float: right;
  margin-left: 15px;
}
.container {
  padding: 20px;
}
#container-employee {
  background: #ffffff;
}
.form-fluid {
  width: 100%;
}
#body-content {
  padding: 0;
  margin: 0;
}
/* TITLE or LOGO*/
.kara-title {
  font-size: 2em;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  width: auto;
  float: left;
}
.kara-title-sub {
  font-size: 2em;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  width: auto;
  float: left;
  color: #ff5555;
}
.line-bottom {
  border-bottom: 1px solid #ccc;
}
.attendance-detail-style h2 {
  background: #eeeeee;
  padding: 10px;
  margin-top: 5px;
}
/* NAVBAR */
.container-non-responsive {
  /* Margin/padding copied from Bootstrap */
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  /* Set width to your desired site width */
  width: 1000px;
  overflow: auto;
  height: 100%;
}
#navbar {
  min-height: 50px;
  height: 50px;
  margin: 0;
  background-color: #2684d5;
  border-radius: 0;
  color: #ffffff;
}
#navbar a {
  color: #ffffff;
}
#navbar-header-right {
  padding: 14px 25px 14px 14px;
  text-align: right;
}
.navbar-header {
  padding: 5px 10px 10px 10px;
  height: 100%;
  width: 50%;
  float: left;
}
#sidebar {
  min-height: 623px;
  float: left;
}
#contentContainer {
  min-height: 623px;
  overflow: auto;
  width: auto;
  background-color: #eeeeee;
  padding: 15px;
}
#menucontainer {
  float: left;
  height: 623px;
  min-width: 40px;
}
.contentcontainer {
  width: 100%;
  border-radius: 5px;
  float: left;
}
.content-container {
  width: 100%;
  background-color: gainsboro;
  padding: 15px;
}
.smallmenucontainer {
  background-color: #006ba0;
  padding: 0 10px 0 10px;
  height: 623px;
  float: left;
  width: auto;
}
#detailmenu {
  float: left;
  width: 200px;
  background-color: #f5f5f5;
  height: 100%;
  overflow: auto;
}
.menu-sidebar-left {
  padding: 25px 0 25px 0;
  margin: 10px 0;
  background-color: white;
  font-size: 12px;
  font-weight: bold;
  width: 50px;
  text-align: center;
}
.menu-sidebar-left-small {
  padding: 15px;
  margin: 10px auto 10px auto;
  background-color: white;
  font-size: 13px;
  width: 100%;
  text-align: left;
  text-decoration: none;
  display: block;
}
.nav li a {
  padding: 5px 15px;
}
.nav-wijaya a {
  background-color: #5dabf3;
  color: #ffffff;
}
.nav-wijaya a:hover {
  background-color: #000000;
  color: #333;
}
.nav-pluit a {
  background-color: #5dabf3;
  color: #ffffff;
}
.nav-pluit a:hover {
  background-color: #5dabf3;
  color: #333;
}
.nav-kartini a {
  background-color: #5dabf3;
  color: #ffffff;
}
.nav-kartini a:hover {
  background-color: #5dabf3;
  color: #333;
}
.nav-buahbatu a {
  background-color: #5dabf3;
  color: #ffffff;
}
.nav-buahbatu a:hover {
  background-color: #5dabf3;
  color: #333;
}
.nav-naripan a {
  background-color: #5dabf3;
  color: #ffffff;
}
.nav-naripan a:hover {
  background-color: #5dabf3;
  color: #333;
}
/* BUTTON */
.k-panel-white {
  color: #ffffff !important;
}
.k-form-control {
  height: 29px;
  width: 100%;
}
.k-button-default {
  margin-top: 30px;
  width: auto;
  color: #ffffff;
  border: none;
}
.k-button-blue {
  min-width: 70px;
  width: auto;
  background-color: dodgerblue;
  color: #ffffff;
  border: none;
}
.k-button-blue:hover {
  background-color: #1e74c5;
  color: #ffffff;
}
.k-button-blue1 {
  min-width: 70px;
  margin-top: 30px;
  width: auto;
  background-color: dodgerblue;
  color: #ffffff;
  border: none;
}
.k-button-blue1:hover {
  background-color: #1e74c5;
  color: #ffffff;
}
.k-button-red {
  min-width: 70px;
  width: auto;
  background-color: #d23333;
  color: #ffffff;
  border: none;
}
.k-button-red:hover {
  background-color: firebrick;
  color: #ffffff;
}
.k-button-green {
  min-width: 70px;
  width: auto;
  background-color: #32ac32;
  color: #ffffff;
  border: none;
}
.k-button-green:hover {
  background-color: forestgreen;
  color: #ffffff;
}
.k-button-gray {
  min-width: 70px;
  width: auto;
  background-color: #eeeeee;
  color: #333333;
  border: none;
}
.k-button-gray:hover {
  background-color: #cccccc;
  color: #333333;
}
.k-form-style {
  padding: 6px;
}
.k-link:link,
.k-link:visited,
.k-link:hover,
.k-state-hover.k-nav-current .k-link {
  color: #333333;
}
.k-submit-detail {
  height: 25px;
  font-size: 10px;
}
/* PANEL BAR */
.panel-default > .panel-heading {
  color: #333333;
}
.line-space {
  padding: 10px 0;
}
/* styles for validation helpers */
.field-validation-error {
  font-size: 10px;
  font-weight: bold;
  color: #e80c4d;
}
.field-validation-valid {
  display: none;
}
input.input-validation-error {
  border: 1px solid #e80c4d;
}
input[type="checkbox"].input-validation-error {
  border: 0 none;
}
.validation-summary-errors {
  color: #e80c4d;
  font-weight: bold;
  font-size: 10px;
  border: dashed 1px;
  border-radius: 3px;
  margin-bottom: 5px;
}
.validation-summary-valid {
  display: none;
}
#divSpinnerText {
  top: 50px;
  font: normal 16px Tahoma, Geneva, sans-serif;
  color: #cc0000;
}
#divSpinnerWindow {
  background-color: #ffffff;
}
/* JS overrides */
.k-widget {
  padding: 0;
  background-color: #ffffff;
}
.k-grid-cancel-changes:hover {
  background-color: #ffc9c9;
}
.k-grid td {
  padding: 1px 3px 1px 8px !important;
  font-size: 12px;
}
.k-button {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  margin-top: 1px !important;
  margin-bottom: 1px !important;
  background-color: #ffffff;
}
.k-button[type=submit]:hover {
  color: #ffffff;
  border-color: rgba(0, 0, 0, 0.1);
  background-color: #CC3300;
}
.k-dropdown {
  display: block;
}
/****** JS Grid *******************/
.k-grid table {
  font-size: 12px;
}
.k-grid-pager {
  padding: 3px;
  font-size: 12px;
}
.k-grid-pager .k-dropdown {
  display: inline-block;
}
/*tr.k-state-selected*/
.k-grid table tr[aria-selected="true"] {
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.1);
  color: #428bca;
}
.k-grid table tr[aria-selected="true"] td a[class="jsGridLink"] {
  color: #428bca;
}
.k-grid table td a[class="jsGridLink"] {
  color: #333333;
  cursor: pointer;
}
.k-grid table td a[class="jsGridLink"]:hover {
  text-decoration: none;
}
.k-grouping-header {
  font-size: 12px;
}
.k-grid-toolbar {
  font-size: 12px;
}
/*   EDITOR */
.k-tool-group .k-dropdown {
  display: inline-block;
}
li.k-tile {
  font-size: 11px;
}
/*# sourceMappingURL=Site.css.map */