﻿@model Kara.CMS.Web.Models.GalleryViewModel
<script type="text/javascript" src="@Url.Content("~/Scripts/jssor.slider.min.js")"></script>
@*<script type="text/javascript" src="@Url.Content("~/Scripts/jssor.core.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jssor.utils.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jssor.slider.js")"></script>*@
<style type="text/css">
    .galleryImage {
        width: auto !important;
    }

    .jssort07 .i {
        position: absolute;
        top: 0;
        left: 0;
        width: 99px;
        height: 66px;
        filter: alpha(opacity=80);
        opacity: .8;
    }

    .jssort07 .p:hover .i, .jssort07 .pav .i {
        filter: alpha(opacity=100);
        opacity: 1;
    }

    .jssort07 .o {
        position: absolute;
        top: 0;
        left: 0;
        width: 97px;
        height: 64px;
        border: 1px solid #000;
        -moz-transition: border-color .6s;
        -webkit-transition: border-color .6s;
        -o-transition: border-color .6s;
        transition: border-color .6s;
    }

    * html .jssort07 .o {
        /* ie quirks mode adjust */
        width /**/: 99px;
        height /**/: 66px;
    }

    .jssort07 .pav .o, .jssort07 .p:hover .o {
        border-color: #fff;
    }

    .jssort07 .pav:hover .o {
        border-color: #0099FF;
    }

    .jssort07 .p:hover .o {
        transition: none;
        -moz-transition: none;
        -webkit-transition: none;
        -o-transition: none;
    }
    /*thumbnavigator*/
    .jssora11l, .jssora11r, .jssora11ldn, .jssora11rdn {
        position: absolute;
        cursor: pointer;
        display: block;
        overflow: hidden;
    }

    .jssora11l {
        background-position: -11px -41px;
    }

    .jssora11r {
        background-position: -71px -41px;
    }

    .jssora11l:hover {
        background-position: -131px -41px;
    }

    .jssora11r:hover {
        background-position: -191px -41px;
    }

    .jssora11ldn {
        background-position: -251px -41px;
    }

    .jssora11rdn {
        background-position: -311px -41px;
    }

    /* jssor slider arrow navigator skin 02 css */
    /*
            .jssora02l              (normal)
            .jssora02r              (normal)
            .jssora02l:hover        (normal mouseover)
            .jssora02r:hover        (normal mouseover)
            .jssora02ldn            (mousedown)
            .jssora02rdn            (mousedown)
            */
    .jssora02l, .jssora02r, .jssora02ldn, .jssora02rdn {
        position: absolute;
        cursor: pointer;
        display: block;
        background: url(Images/a02.png) no-repeat;
        overflow: hidden;
    }

    .jssora02l {
        background-position: -3px -33px;
    }

    .jssora02r {
        background-position: -63px -33px;
    }

    .jssora02l:hover {
        background-position: -123px -33px;
    }

    .jssora02r:hover {
        background-position: -183px -33px;
    }

    .jssora02ldn {
        background-position: -243px -33px;
    }

    .jssora02rdn {
        background-position: -303px -33px;
    }
</style>
@if (Model.GalleryItems.Any())
{
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            var options = {
                $AutoPlay: true,                                    //[Optional] Whether to auto play, to enable slideshow, this option must be set to true, default value is false
                $AutoPlayInterval: 4000,                            //[Optional] Interval (in milliseconds) to go for next slide since the previous stopped if the slider is auto playing, default value is 3000
                $SlideDuration: 500,                                //[Optional] Specifies default duration (swipe) for slide in milliseconds, default value is 500
                $DragOrientation: 3,                                //[Optional] Orientation to drag slide, 0 no drag, 1 horizental, 2 vertical, 3 either, default value is 1 (Note that the $DragOrientation should be the same as $PlayOrientation when $DisplayPieces is greater than 1, or parking position is not 0)
                $ArrowNavigatorOptions: {
                    $Class: $JssorArrowNavigator$,              //[Requried] Class to create arrow navigator instance
                    $ChanceToShow: 2,                               //[Required] 0 Never, 1 Mouse Over, 2 Always
                    $AutoCenter: 2,                                 //[Optional] Auto center arrows in parent container, 0 No, 1 Horizontal, 2 Vertical, 3 Both, default value is 0
                    $Steps: 1                                       //[Optional] Steps to go for each navigation request, default value is 1
                },
                $ThumbnailNavigatorOptions: {
                    $Class: $JssorThumbnailNavigator$,              //[Required] Class to create thumbnail navigator instance
                    $ChanceToShow: 2,                               //[Required] 0 Never, 1 Mouse Over, 2 Always

                    $Loop: 2,                                       //[Optional] Enable loop(circular) of carousel or not, 0: stop, 1: loop, 2 rewind, default value is 1
                    $SpacingX: 3,                                   //[Optional] Horizontal space between each thumbnail in pixel, default value is 0
                    $SpacingY: 3,                                   //[Optional] Vertical space between each thumbnail in pixel, default value is 0
                    $DisplayPieces: 6,                              //[Optional] Number of pieces to display, default value is 1
                    $ParkingPosition: 204                           //[Optional] The offset position to park thumbnail,
                }
            };

            var jssor_slider1 = new $JssorSlider$("slider1_container", options);

            function ScaleSlider() {
                var parentWidth = jssor_slider1.$Elmt.parentNode.clientWidth;
                if (parentWidth)
                    jssor_slider1.$SetScaleWidth(Math.min(parentWidth, 640));
                else
                    window.setTimeout(ScaleSlider, 30);
            }

            ScaleSlider();

            if (!navigator.userAgent.match(/(iPhone|iPod|iPad|BlackBerry|IEMobile)/)) {
                $(window).bind('resize', ScaleSlider);
            }
        });
    </script>
}

<div style="width:100%;padding-top: 20px;">
    @if (Model.GalleryItems.Any())
    {
        <table>
            <tr>
                <td>
                    <div style="overflow:auto; height:480px; width:190px">
                        @foreach (var item in Model.FolderItems)
                        {
                            <div class="thumbnail" style="margin-bottom:5px; width: 170px; height:130px; background-color:#ffffff;text-align:center;">
                                <a href="@Url.Action("Index", new { @id = item.First().WidgetGalleryID })">
                                    <div style="position:relative;">
                                        <div style="background: rgba(0, 0, 0, 0.6); padding: 0; margin-bottom:0; top: 75%; width: 90%; color: rgb(255, 255, 255); display: table; position: absolute;">
                                            <p>@item.First().Title</p>
                                        </div>
                                        <img style="width: 160px; height:120px;" src="@Url.Content(item.First().Path) " />
                                    </div>
                                </a>
                            </div>
                        }
                    </div>
                </td>
                <td>
                    <div id="slider1_container" style="margin: 0 auto; position: relative; width: 640px; height: 480px; overflow: hidden;">
                        <!-- Loading Screen -->
                        <div u="loading" style="position: absolute; top: 0; left: 0;">
                            <div style="filter: alpha(opacity=70); opacity:0.7; position: absolute; display: block;
                    background-color: #000; top: 0; left: 0;width: 100%;height:100%;">
                            </div>
                            <div style="position: absolute; display: block; background: url(Content/Silver/loading-image.gif) no-repeat center center;
                    top: 0; left: 0;width: 100%;height:100%;">
                            </div>
                        </div>
                        <!-- Slides Container -->
                        <div u="slides" style="cursor: move; position: absolute; left: 0; top: 0; width: 640px; height: 480px;
                overflow: hidden;">
                            @foreach (var item in Model.GalleryItems)
                            {
                                <div>
                                    <img u="image" src="@Url.Content(item.Path)" class="galleryImage" />
                                    <img u="thumb" src="@Url.Content(item.ThumbnailPath)" class="galleryImage" />
                                </div>
                            }

                        </div>
                        <!-- Arrow Left -->
                        <span u="arrowleft" class="jssora02l" style="width: 55px; height: 55px; top: 123px; left: 8px;">
                        </span>
                        <!-- Arrow Right -->
                        <span u="arrowright" class="jssora02r" style="width: 55px; height: 55px; top: 123px; right: 8px">
                        </span>
                        <!-- Arrow Navigator Skin End -->
                        <!-- Thumbnail Navigator Skin Begin -->
                        <div u="thumbnavigator" class="jssort07" style="position: absolute; width: 640px; height: 100px; left: 0; bottom: 0; overflow: hidden; ">
                            <div style=" background-color: #000; filter:alpha(opacity=30); opacity:.3; width: 100%; height:100%;"></div>
                            <!-- Thumbnail Item Skin Begin -->

                            <div u="slides" style="cursor: move;">
                                <div u="prototype" class="p" style="POSITION: absolute; WIDTH: 99px; HEIGHT: 66px; TOP: 0; LEFT: 0;">
                                    <thumbnailtemplate class="i" style="position:absolute;"></thumbnailtemplate>
                                    <div class="o">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    }


</div>
