﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - KaraCMS</title>
    @Scripts.Render("~/bundles/headScripts")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/cssCms")
    @Scripts.Render("~/bundles/lateScripts")
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container" style="padding: 5px 5px 5px 5px;">
            <div class="pull-left">
                <span style="font-size:24px">Kara<b>CMS</b></span>
                @if (User.Identity.IsAuthenticated)
                {
                    @User.Identity.Name<span>[<a id="lnkLogout" href="@Url.Action("LogOff", "Cms")">logout</a>]</span>
                }
            </div>
            @if (User.Identity.IsAuthenticated)
            {
                <ul class="nav navbar-nav pull-right" style="margin-right:100px">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Menu<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="@Url.Action("Index","Cms")" title="Upload images and files">CMS Home</a></li>
                            <li><a href="@Url.Action("ContentItems","Cms")" title="Upload images and files">Manage content items</a></li>
                            <li><a href="@Url.Action("Pages","Cms")" title="Manage page's sections and its content">Manage pages and content</a></li>
                            <li class="divider"></li>
                        </ul>
                    </li>
                </ul>
            }
        </div>
    </nav>
    <div id="divNotifications">
        @Html.Partial("_Notifications")
    </div>
    <div class="container body-content" style="padding-top: 60px">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - KaraCMS</p>
        </footer>
    </div>
    <div id="modalWindow" style="display:none"></div>
    @RenderSection("scripts", required: false)
</body>

</html>
