﻿<input type="hidden" id="NotificationSuccess" value="@TempData["Notification.Success"]" data-role="notification" />
<input type="hidden" id="NotificationInfo" value="@TempData["Notification.Info"]" data-role="notification" />
<input type="hidden" id="NotificationWarning" value="@TempData["Notification.Warning"]" data-role="notification" />
<input type="hidden" id="NotificationError" value="@TempData["Notification.Error"]" data-role="notification" />
<script type="text/javascript">
    $(document).ready(Global.showNotifications());
</script>
