﻿@using Kara.Framework.Common.Mvc.Helpers
@using Kara.Framework.Common.Mvc
@using Kara.CMS.Web.Models
@using Kara.CMS.Common.Enums
@model Kara.CMS.Entities.WidgetCategoryContent
<div class="panel-body" id="divWidgetCategoryContent">
    <form name="frmWidgetCategoryContent" id="frmWidgetCategoryContent" class="ajaxForm" action="@Url.Action("WidgetCategoryContentSave", "Cms")" method="post" role="form">
        @Html.AntiForgeryToken()
        @Html.Partial("_AjaxNotification")
        @Html.ValidationSummary(false)
        <fieldset>
            <div class="form-group">
                @Html.HiddenFor(m => m.WidgetCategoryContentID)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Category)<br />
                @Html.TextBoxFor(m => m.Category, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Category)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Title)<br />
                @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Title)
            </div>
            @Html.Partial("_CmsContentTypeHtml", Model)

            <button id="btnSubmit" type="submit" class="btn btn-primary k-button-blue">Save</button>
            <button id="btnReset" type="reset" class="btn btn-default k-button-gray">Cancel</button>

        </fieldset>
    </form>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        Global.parseFormValidation("#frmWidgetCategoryContent");
    });
    $("#frmWidgetCategoryContent").submit(function (e) {
        e.preventDefault();
        Global.submitAjaxForm(this, "#divWidgetCategoryContent", "#divNotifications");
    });
    $('#btnReset').click(function () {
        Global.hideModalWindow();
    });
</script>