﻿@using Kara.Framework.Common.Mvc
@using Kara.Framework.Common.Mvc.JsUpload
@using Kara.Framework.Common.Mvc.Helpers
@using Kara.Framework.Common.Mvc.JsModal
@model List<JsEventFunction>
<div id="divUploadWindow">
    <div id="divUpload">
       @Html.JsUpload(new JsUploadParam()
       {
           JsNamespace = "contentItemUploadJsUpload",
           PlaceHolderId = "divUpload",
           UploadUrl = @Url.Action("ContentItems_Upload", "Cms")
       })
    </div>
</div>
@{
    var eventFunctions = new List<JsEventFunction>();
    eventFunctions.AddRange(Model);
    eventFunctions.Add(new JsEventFunction() { EventName = "onClose", FunctionName = "contentItemUploadJsUpload.reset" });
} 
@Html.JsModal(new JsModalParam
    {
        JsNamespace = "contentItemUpload",
        PlaceHolderId = "divUploadWindow",
        Title = "Upload content items",
        Width = 600,
        Height = 480,
        EventFunctions = eventFunctions
    })
