﻿@using Kara.Framework.Common.Mvc.Helpers
@using Kara.Framework.Common.Mvc.JsGrid
@using Kara.Framework.Common.Mvc
@model Kara.CMS.Entities.Section

@Html.HiddenFor(m => m.SectionID)
<div id="divContentItems"></div>
@{
    var columns = new List<JsGridColumnBase>(){
        new JsGridColumn{ DisplayName = "Id", FieldName="WidgetGalleryID", Width= 30, Filterable = true, Type = JsGridColumnTypes.NonDecimal},
        new JsGridColumn{ DisplayName = "Page", FieldName="PageName", Width= 150, Editable = false, Filterable = true, Type = JsGridColumnTypes.String}, 
        new JsGridColumn{ DisplayName = "Section", FieldName="SectionName", Width= 150, Editable = false, Filterable = true, Type = JsGridColumnTypes.String}, 
        new JsGridColumn{ DisplayName = "Folder", FieldName="GalleryTitle", Width= 400, Editable = false, Filterable = true, Type = JsGridColumnTypes.String, 
            DisplayType = JsGridColumnDisplayTypes.NavigationLink, ModalWidth = "760", ModalHeight ="480", ModalTitle = "Edit Folder", 
            NavigationLinkBaseUrl = @Url.Action("WidgetGalleryItems", "Cms"), NavigationLinkIdFieldName = "WidgetGalleryID"}           
    };
    var model = new JsGridModel()
    {
        Id = "WidgetGalleryID",
        Fields = columns.OfType<JsGridColumn>().ToList()
    };

    @Html.JsGrid(new JsGridParam
    {
        JsNamespace = "widgetGalleryGrid",
        PlaceHolderId = "divContentItems",
        ReadUrl = @Url.Action("WidgetGalleryList", "Cms"),
        ReadData = @" function () { return { Id: $(""#SectionID"").val()}; }",
        DeleteUrl = @Url.Action("WidgetGalleryDelete", "Cms"),
        EditMode = JsGridEditModes.Incell,
        Columns = columns,
        JsGridModel = model,
        IsBatch = true
    });
}
