﻿@model Kara.CMS.Entities.WidgetGallery
<div class="panel-body" id="divNewGalleryFolder">

    <form name="frmNewGalleryFolder" id="frmNewGalleryFolder" class="ajaxForm" action="@Url.Action("SaveNewWidgetGalleryFolder", "Cms")" method="POST" role="form">
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(false)
        @Html.Partial("_AjaxNotification")
        <fieldset>
            <div class="form-group">
                @Html.HiddenFor(m => m.SectionID)
                @Html.LabelFor(m => m.Title)
                @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Title)
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
        </fieldset>
    </form>

    <script type="text/javascript">
        $(document).ready(function () {
            Global.parseFormValidation("#frmNewGalleryFolder");
        });
        $("#frmNewGalleryFolder").submit(function (e) {
            e.preventDefault();
            Global.submitAjaxForm(this, "#divNewGalleryFolder", "#divNotifications");
        });

    </script>
</div>
