﻿@using Kara.Framework.Common.Mvc.Helpers
@using Kara.Framework.Common.Mvc.JsGrid
@using Kara.Framework.Common.Mvc
@model Kara.CMS.Entities.Section

@Html.HiddenFor(m => m.SectionID)
<div id="divContentItems"></div>
@{
    var columns = new List<JsGridColumnBase>(){
        new JsGridColumn{ DisplayName = "Id", FieldName="WidgetCategoryContentId", Width= 60, Filterable = true, Type = JsGridColumnTypes.NonDecimal,DisplayType = JsGridColumnDisplayTypes.ShowInModalWindowLink, ModalWidth = "760", ModalHeight ="480", ModalTitle = "Edit Widget Content Details", NavigationLinkBaseUrl = @Url.Action("WidgetCategoryContentDetails", "Cms"), NavigationLinkIdFieldName = "WidgetCategoryContentID"},
        new JsGridColumn{ DisplayName = "Category", FieldName="Category", Width= 100, Editable = true, Filterable = true, Type = JsGridColumnTypes.String},
        new JsGridColumn{ DisplayName = "Title", FieldName="Title", Width= 100, Editable = true, Filterable = true, Type = JsGridColumnTypes.String}
    };
    var model = new JsGridModel()
    {
        Id = "WidgetCategoryContentId",
        Fields = columns.OfType<JsGridColumn>().ToList()
    };

    @Html.JsGrid(new JsGridParam
    {
        JsNamespace = "widgetCategoryContentGrid",
        PlaceHolderId = "divContentItems",
        ReadUrl = @Url.Action("WidgetCategoryContentList", "Cms"),
        ReadData = @" function () { return { sectionId: $(""#SectionID"").val()}; }",
        UpdateUrl = @Url.Action("WidgetCategoryContent_Update", "Cms"),
        EditMode = JsGridEditModes.Incell,
        Columns = columns,
        JsGridModel = model,
        IsBatch = true
    });
}