﻿@using Kara.Framework.Common.Mvc.Helpers
@using Kara.Framework.Common.Mvc.JsGrid
@using Kara.Framework.Common.Mvc
@model Kara.CMS.Entities.WidgetGallery

@Html.HiddenFor(m => m.WidgetGalleryID)
<div id="divContentItems"></div>
@{
    var columns = new List<JsGridColumnBase>(){
        new JsGridColumn{ DisplayName = "Id", FieldName="WidgetGalleryItemID", Width= 30, Filterable = true, Type = JsGridColumnTypes.NonDecimal},
        new JsGridColumn{ DisplayName = "Description", FieldName="Description", Width= 300, Filterable = true, Type = JsGridColumnTypes.String},
        new JsGridColumn{ DisplayName = "Type", FieldName="Extension", Width = 100, Filterable = true, Type = JsGridColumnTypes.String},
        new JsGridColumn{ DisplayName = "Preview", FieldName="ThumbnailPath", Width = 100, DisplayOnGrid = true, DisplayType = JsGridColumnDisplayTypes.ImagePreview },
    };
    var model = new JsGridModel()
    {
        Id = "WidgetGalleryID",
        Fields = columns.OfType<JsGridColumn>().ToList()
    };

    @Html.JsGrid(new JsGridParam
    {
        JsNamespace = "widgetGalleryItemGrid",
        PlaceHolderId = "divContentItems",
        ReadUrl = @Url.Action("WidgetGalleryItemsList", "Cms"),
        ReadData = @" function () { return { Id: $(""#WidgetGalleryID"").val()}; }",
        UpdateUrl = @Url.Action("WidgetGalleryItems_Update", "Cms"),
        DeleteUrl = @Url.Action("WidgetGalleryItems_Delete", "Cms"),
        EditMode = JsGridEditModes.Incell,
        Columns = columns,
        JsGridModel = model,
        IsBatch = true
    });
}
