﻿@using Kara.Framework.Common.Mvc.Helpers
<div id="imageBrowser"></div>
<script type="text/javascript">
    var cmsImageBrowser = {};
    $(document).ready(function () {
        $("#imageBrowser").kendoImageBrowser({
            messages: {
                dropFilesHere: "Drop files here"
            },
            transport: {
                read: Global.Settings.ServerUrl + "/Cms/Images",
                thumbnailUrl: Global.Settings.ServerUrl + "/Cms/Thumbnail",
                imageUrl: Global.Settings.ServerUrl + "/KaraCMS/Images/{0}",
                path: Global.Settings.ServerUrl + "/Cms/Images"
            }
        });
        cmsImageBrowser.selectImage = function () {
            var selected = $('.k-tile.k-state-selected')[0];
            var fileText = $(selected).children("strong").text();
            return fileText;
        }
        cmsImageBrowser.refreshImageBrowser = function () {
            $("#imageBrowser").getKendoImageBrowser().dataSource.read();
        }
    });
</script>