﻿<h2>ManageContentItems</h2>

<div class="kara-cms-frame">
    <div>
        <h5>Content Items</h5>
    </div>
    <div id="divUploadWindow">
        <div id="divUpload">
            <form method="post" action="/Kara.CMS.Web/Cms/ContentItems_Upload">
                <div style="overflow-y:auto" class="panel">
                    <input name="files" id="files" type="file" />
                    <div class="pull-right" style="margin-top:5px;">
                        <button id="jsUpload_btnReset" type="button" class="k-button hidden">Reset</button>
                    </div>
                </div>
            </form>

            <script type="text/javascript">
                var contentItemUploadJsUpload = {};
                contentItemUploadJsUpload.btnReset = "#jsUpload_btnReset";
                contentItemUploadJsUpload.reset = function () {
                    $(".k-upload-files.k-reset").find("li").parent().remove();
                };
                contentItemUploadJsUpload.showReset = function () {
                    $(contentItemUploadJsUpload.btnReset).removeClass("hidden");
                }

                $(document).ready(function () {
                    $("#files").kendoUpload({
                        async: {
                            saveUrl: " /Kara.CMS.Web/Cms/ContentItems_Upload",
                            autoUpload: true
                        },
                        select: contentItemUploadJsUpload.showReset
                    });
                    $(contentItemUploadJsUpload.btnReset).bind("click", function () {
                        contentItemUploadJsUpload.reset();
                    });
                });

            </script>

        </div>
    </div>
    <script type="text/javascript">
        var contentItemUpload = {};

        contentItemUpload.modalWindow = $("#divUploadWindow");

        contentItemUpload.onClose = function () {
            contentItemGrid.refreshGrid(); contentItemUploadJsUpload.reset();
        };

        contentItemUpload.modalWindow.kendoWindow({
            actions: ["Maximize", "Close"],
            draggable: true,
            height: "480px",
            modal: true,
            resizable: false,
            title: "Upload content items",
            width: "600px",
            visible: false,
            close: contentItemUpload.onClose
        });

        contentItemUpload.open = function () {
            contentItemUpload.modalWindow.data("kendoWindow").center().open();
        };
    </script>


    <a id="lnkUploadContent" href="javascript: contentItemUpload.open();">Upload content items</a>
    <div id="divContentItems"></div>
</div>
<script type="text/javascript">
    var contentItemGrid = {};
    contentItemGrid.initialized = false;

    contentItemGrid.gridColumns = [
        { title: "Id", field: "ContentItemId", filterable: false, width: 60 }
, { title: "Description", field: "Description", filterable: false, width: 300 }
, { title: "Type", field: "Extension", filterable: false, width: 60 }
    ];
    contentItemGrid.initGrid = function () {
        $("#divContentItems").kendoGrid({
            dataSource: {
                transport: {
                    read: {
                        url: '/Kara.CMS.Web/Cms/ContentItems_Get',
                        cache: false,
                        dataType: 'json',
                        type: 'GET'
                    },
                    update: {
                        url: '/Kara.CMS.Web/Cms/ContentItems_Update',
                        dataType: 'json',
                        type: 'POST',
                        contentType: 'application/json'
                    },
                    destroy: {
                        url: '/Kara.CMS.Web/Cms/ContentItems_Delete',
                        dataType: 'json',
                        type: 'POST',
                        contentType: 'application/json'
                    },
                    parameterMap: function (options, operation) {
                        if (operation !== "read" && options.models) {
                            return kendo.stringify(options.models); //{ models: kendo.stringify(options.models) };
                        }
                        return options;
                    }
                },
                requestEnd: function (e) {
                    var response = e.response;
                    var type = e.type;
                    if (type != "read")
                        contentItemGrid.refreshGrid();
                },
                schema: {
                    total: "TotalRows",
                    model: {
                        id: "ContentItemId",
                        fields: {
                            ContentItemId: { type: "number", editable: false }
, Description: { type: "string", editable: true }
, FileContentType: { type: "string", editable: false }
                        }
                    },
                    data: "Results"
                },
                batch: true,
                pageSize: 20,
                serverPaging: true,
                serverFiltering: true,
                serverSorting: true
            },
            filterable: true,
            sortable: true,
            groupable: true,
            pageable: {
                refresh: true,
                pageSizes: [10, 20, 50, 100],
                buttonCount: 5,
                input: true
            },
            editable: {
                mode: "incell",
                confirmation: false
            },
            scrollable: false,
            resizeable: true,
            selectable: "multiple, row",
            toolbar: ["save", "cancel", { name: "destroy", text: "Delete Changes" }],
            columns: contentItemGrid.gridColumns
        });
    };

    contentItemGrid.refreshGrid = function () {
        $("#divContentItems").data("kendoGrid").dataSource.read();
    };
    $(document).ready(contentItemGrid.initGrid());

    $(".k-grid-delete").click(function (e) {
        e.preventDefault();

        if (confirm("Delete selected record(s)?")) {
            var grid = $("#divContentItems").data("kendoGrid");
            grid.select().each(function () {
                grid.removeRow($(this));
            });
            grid.saveChanges();
        }

    });
</script>

