﻿@model Kara.CMS.Web.Common.Models.SectionDetailsViewModel

<div class="form-group">
    @Html.LabelFor(m => m.Content)
    <br />
    @Html.TextAreaFor(m => m.Content, new { @class = "form-control", @rows = "5"})
</div>
