﻿@model Kara.CMS.Entities.WidgetCategoryContent
<div class="form-group">
    @Html.LabelFor(m => m.Category)
    <br />
    @Html.TextBoxFor(m => m.Category, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.Category)
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Content)
    <br />
    @Html.TextAreaFor(m => m.Content, new { @class = "form-control", @rows = "5" })
</div>
@Html.Partial("_CmsContentHtmlEditor")
