﻿@{
    ViewBag.Title = "ManageContentItems";
    Layout = "~/Views/Shared/_LayoutCms.cshtml";
}
@using Kara.Framework.Common.Mvc.Helpers
@using Kara.Framework.Common.Mvc.JsGrid
@using Kara.Framework.Common.Mvc

<h4>View, manage or upload images or documents for your site.</h4>
<hr />
<p>The images or documents can be used on your html or gallery.</p>

<div class="kara-cms-frame">
  
    @Html.Partial("_CmsUploader", new List<JsEventFunction>()
        {
            new JsEventFunction(){ EventName = "onClose", FunctionName = "contentItemGrid.refreshGrid"}                        
        })
    <a id="lnkUploadContent" href="javascript: contentItemUpload.open();">Upload content items</a>
    <div id="divContentItems"></div>
</div>
@{
    var columns = new List<JsGridColumnBase>(){
        new JsGridColumn{ DisplayName = "Id", FieldName="ContentItemId", Width= 60, Filterable = true, Type = JsGridColumnTypes.NonDecimal},
        new JsGridColumn{ DisplayName = "Description", FieldName="Description", Width= 300, Filterable = true, Type = JsGridColumnTypes.String},    
        new JsGridColumn{ DisplayName = "Type", FieldName="Extension", Width = 60, Filterable = true, Type = JsGridColumnTypes.String},
         new JsGridColumn{ DisplayName = "Preview", FieldName="ThumbnailPath", Width = 100, DisplayOnGrid = true, DisplayType = JsGridColumnDisplayTypes.ImagePreview }
    };
    var model = new JsGridModel()
    {
        Id = "ContentItemId",
        Fields = columns.OfType<JsGridColumn>().ToList()
    };

    @Html.JsGrid(new JsGridParam
    {
        JsNamespace = "contentItemGrid",
        PlaceHolderId = "divContentItems",
        ReadUrl = @Url.Action("ContentItems_Get", "Cms"),
        UpdateUrl = @Url.Action("ContentItems_Update", "Cms"),
        DeleteUrl = @Url.Action("ContentItems_Delete", "Cms"),
        EditMode = JsGridEditModes.Incell,
        Columns = columns,
        JsGridModel = model,
        IsBatch = true
    });
}