﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutCms.cshtml";
}

<h4>Welcome to CMS</h4>
<hr />
@Html.ActionLink("Manage Content Items", "ContentItems", "Cms")
<p>
    Select "Manage Content Items", to upload your images and documents.
    <br />Once you upload your content items, then you will be able to use it as content.
</p>
<br /><br />
@Html.ActionLink("Manage Pages", "Pages", "Cms")
<p>
    Select "Manage Pages", to update content of your pages.
</p>



