﻿
@{
    ViewBag.Title = "Pages";
    Layout = "~/Views/Shared/_LayoutCms.cshtml";
}
@using Kara.Framework.Common.Mvc.Helpers
@using Kara.Framework.Common.Mvc.JsGrid
@model Kara.CMS.Entities.VwPageSection

<h4>Select page's section you'd like to update</h4>
<hr />

<div class="kara-cms-frame">
    <div id="divPageSections"></div>
</div>
@{
    var columns = new List<JsGridColumnBase>(){
        new JsGridColumn{ DisplayName = "PageId", FieldName="PageID", DisplayOnGrid = false, Type = JsGridColumnTypes.NonDecimal},
        new JsGridColumn{ DisplayName = "SectionId", FieldName="SectionID", DisplayOnGrid = false, Type = JsGridColumnTypes.NonDecimal},
        new JsGridColumn{ DisplayName = "Page", FieldName="PageName", Width= 140, Filterable = true, Type = JsGridColumnTypes.String},
        new JsGridColumn{ DisplayName = "Section", FieldName="SectionName", Width = 200, Filterable = true, Type = JsGridColumnTypes.String, DisplayType= JsGridColumnDisplayTypes.NavigationLink, NavigationLinkBaseUrl = @Url.Action("Section","Cms"), NavigationLinkIdFieldName = "SectionID"},
        new JsGridColumn{ DisplayName = "Content", FieldName="SectionContentTypeDesc", Width = 100, Filterable = true, Type = JsGridColumnTypes.String}
    };
    var model = new JsGridModel()
    {
        Id = "SectionID",
        Fields = columns.OfType<JsGridColumn>().ToList()
    };

    @Html.JsGrid(new JsGridParam
    {
        JsNamespace = "pageSectionsGrid",
        PlaceHolderId = "divPageSections",
        ReadUrl = @Url.Action("PageSectionList", "Cms"),
        Columns = columns,
        JsGridModel = model,
        IsBatch = false
    });
}