﻿@{
    ViewBag.Title = "Section";
    Layout = "~/Views/Shared/_LayoutCms.cshtml";
}
@using Kara.Framework.Common.Mvc.Helpers
@using Kara.Framework.Common.Mvc
@using Kara.CMS.Web.Models
@using Kara.CMS.Common.Enums
@model Kara.CMS.Web.Common.Models.SectionDetailsViewModel

<h4>Please update content of your page</h4>
<hr />
<div class="panel-body" id="divSectionDetails">
    @Html.Partial("_CmsUploader", new List<JsEventFunction>())

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @*@Html.Partial("_AjaxNotification")*@
        @Html.ValidationSummary(false)
        <fieldset>
            <div class="form-group">
                @Html.HiddenFor(m => m.SectionID)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.PageName)<br />
                @Html.TextBoxFor(m => m.PageName, new { @class = "form-control", @readonly = true })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.SectionName)<br />
                @Html.TextBoxFor(m => m.SectionName, new { @class = "form-control", @readonly = true })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ContentTypeId)<br />
                @Html.DropDownListFor(m => m.ContentTypeId, Model.GetContentTypes(), new { @class = "form-control" })
            </div>
            <div class="form-group">
                @switch (Model.ContentTypeId)
                {
                    case (int)ContentTypes.HTML:
                        {
                            <a id="lnkUploadContent" href="javascript: contentItemUpload.open();">Upload content</a>
                            @Html.Partial("_CmsContentTypeHtml", Model)
                            break;
                        }
                    case (int)ContentTypes.TEXT:
                        {
                            <a id="lnkUploadContent" href="javascript: contentItemUpload.open();">Upload content</a>
                            @Html.Partial("_CmsContentTypeText", Model)
                            break;
                        }
                    default:
                        break;
                }

                <div id="divContentType">
                </div>
            </div>
            <button id="btnSubmit" type="submit" class="btn btn-primary k-button-blue">Save</button>
            <button id="btnReset" type="reset" class="btn btn-default k-button-gray">Cancel</button>
            <br/><br />
            <div class="form-group">
                @switch (Model.ContentTypeId)
                {
                    case (int)ContentTypes.WIDGET_GALLERY:
                        {
                            <h4>To manage photos in your gallery, please select "Manage Gallery"</h4>
                            <hr />
                            @Html.ActionLink("Manage Gallery", "WidgetGallery", "Cms", new { id = Model.SectionID }, null)
                            break;
                        }
                    default:
                        break;
                }
            </div>
        </fieldset>

        @*</form>*@

    }

</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#ContentTypeId").change(function (e) {
            $(this).parents('form').submit();
        });
        $("#btnSubmit").click(function (e) {
            var form = $(this).parents('form');
            form[0].action = "@Url.Action("SaveSection", "Cms")";
        });
        $("#btnReset").click(function (e) {
            location = "@Url.Action("Pages")";
        });
    });


</script>