﻿@{
    ViewBag.Title = "WidgetCategoryContents";
    Layout = "~/Views/Shared/_LayoutCms.cshtml";
}

@using Kara.CMS.Entities
@using Kara.CMS.Common.Enums
@using Kara.Framework.Common.Mvc.Helpers
@using Kara.Framework.Common.Mvc.JsGrid
@using Kara.Framework.Common.Mvc
@model Kara.CMS.Entities.Section
<h2>Manage Widget Category Content</h2>


<div class="kara-cms-frame">
    <div class="panel-group" id="accordion5">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title k-panel-white">
                    <span> Content for section @Model.Name</span>
                    <a data-toggle="collapse" data-parent="#accordion5" href="#collapseFive">
                        <span class="glyphicon glyphicon-resize-vertical panel-heading-icon"></span>

                    </a>
                    <span class="glyphicon glyphicon-plus-sign panel-heading-icon" id="addCategoryContent"></span>
                </h4>
            </div>
            <div id="collapseFive" class="panel-collapse collapse in">
                <div class="panel-body">
                    @Html.Partial("_CmsWidgetCategoryContentGrid")
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    $("#addCategoryContent").on("click", function () {
        Global.showModalWindow('New Folder', '@Url.Action("WidgetCategoryContentDetails", "Cms", new { @id = Model.SectionID })', '860', '580');

    });
</script>