﻿@{
    ViewBag.Title = "Manage Gallery Photos";
    Layout = "~/Views/Shared/_LayoutCms.cshtml";
}

@using Kara.CMS.Entities
@using Kara.CMS.Common.Enums
@using Kara.Framework.Common.Mvc.Helpers
@using Kara.Framework.Common.Mvc.JsGrid
@using Kara.Framework.Common.Mvc
@using Kara.Framework.Common.Mvc.JsModal
@model Kara.CMS.Entities.WidgetGallery

<h4>Managing photos in a gallery's folder</h4>
<hr />
<p>
    Start adding photos into your folder
</p>

<div class="kara-cms-frame">
    <div class="panel-group" id="accordion5">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <span> @Model.Title Folder's Photos</span>
                    <a data-toggle="collapse" data-parent="#accordion5" href="#collapseFive">
                        <span class="glyphicon glyphicon-resize-vertical panel-heading-icon"></span>

                    </a>
                    <span class="glyphicon glyphicon-plus-sign panel-heading-icon" id="addFolder" title="Browse / Add / Upload Image" onclick="javascript:imageBrowserModalWindow.open();cmsImageBrowser.refreshImageBrowser();"></span>
                </h4>
            </div>
            <div id="collapseFive" class="panel-collapse collapse in">
                <div class="panel-body">
                    @Html.Partial("_CmsWidgetGalleryItemGrid")
                </div>

            </div>
        </div>
    </div>
</div>

<div id="divImageBrowserModalWindow">
    @Html.Partial("_CmsUploader", new List<JsEventFunction>()
                    {
                        new JsEventFunction(){ EventName = "onClose", FunctionName = "cmsImageBrowser.refreshImageBrowser"}
                    })
    <a id="lnkUploadContent" href="javascript: contentItemUpload.open();">Upload content items</a>
    @Html.Partial("_CmsImageBrowser")
    <button id="btnSelect" class="btn btn-primary">Add image to folder</button>
    <button id="btnRefresh" class="btn btn-info">Refresh</button>
    <button id="btnClose" class="btn btn-default">Close</button>
</div>
@Html.JsModal(new JsModalParam()
{
    PlaceHolderId = "divImageBrowserModalWindow",
    JsNamespace = "imageBrowserModalWindow",
    Resizeable = true,
    Title = "Browse / Add / Upload Image",
    Height = 600,
    EventFunctions =  new List<JsEventFunction>() { new JsEventFunction() { EventName = "onClose", 
        FunctionName = "cmsImageBrowser.clearFileName" }}
})
<div id="divNewImage">
    <form action="@Url.Action("WidgetGalleryItemSave", "Cms")" role="form" id="frmAddImageToGallery" method="post">
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.WidgetGalleryID)
        <input type="hidden" id="newGalleryItemName" name="newGalleryItemName" />
    </form>
</div>
<script type="text/javascript">
    var cmsImageBrowser = {};
    $(document).ready(function () {
        $("#btnSelect").click(function () {
            $(this).attr('disabled', 'disabled');
            var fileName = cmsImageBrowser.selectImage();
            $("#newGalleryItemName").val(fileName);
            $("#frmAddImageToGallery").submit();
        });
        $("#btnRefresh").click(function () {
            cmsImageBrowser.refreshImageBrowser();
        });
        $("#btnClose").click(function () {
            imageBrowserModalWindow.close();
        });        
        $("#frmAddImageToGallery").submit(function (e) {
            e.preventDefault();
            var $form = $(this);
            if ($form.valid()) {
                var postData = $form.serializeArray();
                var formURL = $form.attr("action");
                $.ajax(
                {
                    url: formURL,
                    type: "POST",
                    data: postData,
                    success: function (data, textStatus, jqXHR) {
                        alert("Image has been added");
                        widgetGalleryItemGrid.refreshGrid();
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        alert(errorThrown);
                    },
                    complete: function()
                    {
                        $("#btnSelect").removeAttr("disabled");
                    }
                });
            }
        });
    });
    cmsImageBrowser.clearFileName = function () {
        $("#newGalleryItemName").val('');
    };
</script>