﻿@{
    ViewBag.Title = "Manage Section's Gallery";
    Layout = "~/Views/Shared/_LayoutCms.cshtml";
}

@using Kara.CMS.Entities
@using Kara.CMS.Common.Enums
@using Kara.Framework.Common.Mvc.Helpers
@using Kara.Framework.Common.Mvc.JsGrid
@using Kara.Framework.Common.Mvc
@model Kara.CMS.Entities.Section


<h4>Managing gallery's folders</h4>
<hr />
<p>
    Your gallery belong to a section of a page, and each gallery have one or more folder to hold photos. <br />
    To manage photo in a folder, click on the folder name.
</p>

<div class="kara-cms-frame">
    <div class="panel-group" id="accordion5">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <span>Gallery for section @Model.Name</span>
                    <a data-toggle="collapse" data-parent="#accordion5" href="#collapseFive">
                        <span class="glyphicon glyphicon-resize-vertical panel-heading-icon"></span>

                    </a>
                    <span class="glyphicon glyphicon-plus-sign panel-heading-icon" id="addFolder" title="Add Folder"></span>
                </h4>
            </div>
            <div id="collapseFive" class="panel-collapse collapse in">
                <div class="panel-body">
                    @Html.Partial("_CmsWidgetGalleryGrid")
                </div>

            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    $("#addFolder").on("click", function () {
        Global.showModalWindow('New Folder', '@Url.Action("NewWidgetGalleryFolder", "Cms", new { @id = Model.SectionID })', '480', '200');
    });
</script>