﻿
@{
    ViewBag.Title = "KaraAdmin";
    Layout = "~/Views/Shared/_LayoutCms.cshtml";
}

<h4>KaraAdmin</h4>

<form action="@Url.Action("Generate","KaraAdmin")" method="post">
    <input type="text" name="input" id="input" />
    <button type="submit">Submit</button>
</form>