﻿@model Kara.CMS.Entities.Page
@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-md-12">
        @Html.DisplayFor(a => a.Sections, new { CmsId = "Gallery.Column1" })
    </div>
</div>
